{% extends 'base.twig' %}

{% block content %}
    <div class="container mt-150">
        <div class="row mt-5 justify-content-md-center">
            <div class="col-6">
                <h1 class="text-center">Connection</h1>
                {% if error != null %}
                    <div class="alert alert-warning text-center mt-5" role="alert">{{ error }}</div>
                {% endif %}
                <form action="/do-connection" method="post">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" id="email" class="form-control mb-3" required>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control mb-3" required>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-warning mb-3">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
